input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../img/calendar-alt-solid.svg") no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.alert {
	display: none;
}

.cadastrar_admin {
	width: 70%;
	margin: auto;
}

.geral{
	margin-top: 30px;
}

.form-control{
	margin: 10px auto 0px auto;
}

.center i {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

label, button{
	font-weight: bold;
}

h3 {
	color: #0069d9;
	margin: 20px;
}

.legenda{
	font-size: 55%;
}

.custom_btn {
	margin: 20px;
}

.custom_btn button{
	width: 15%;
}

@media only screen and (max-width: 414px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 60%;
		margin: 5px;
	}
}

@media only screen and (min-width: 415px) and (max-width: 568px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 50%;
		margin: 5px;
	}
}

@media only screen and (min-width: 569px) and (max-width: 767px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 35%;
		margin: 5px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 812px) {
	.form-horizontal {
		margin-top: 20px; 
	}

	.custom_btn button {
		width: 25%;
		margin: 5px;
	}
}