.center {
    height: 100%;
    position: relative;
}

.center i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.addEvent {
  background-color: #D3D3D3;
  min-height: 400px;
}

.list-group{
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.desativado {
  background-color: #C0C0C0;
}

.desativado img{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 348px;
  height: 40px;
}



@media only screen and (min-width: 1196px){
  .cardImgSize{
    height: 232px;
    width: 348px;
  }

  .modal-dialog{
    width:800px;
  }

  .btnGroupModal{
    min-width: 140px;
    max-width: 140px;
  }
}

@media only screen and (max-width: 1195px){
  .cardImgSize{
    height: 100%;
    width: 100%;
  }
}
