* {
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: url("../img/wallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
}

.geral {
    min-height: 100%;
    position: relative;
}

.bgColor{
  background-color: #07C498;
}

.footerBgColor{
  background-color: #208e75;
}

.footerIcon{
  font-size: 2em;
}

.content {
  overflow: hidden;
}

.aside {
  width: 200px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}
